# String
## Indexing, Slicing

#### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요. <br/>
 <br/>
letters = 'python' <br/>

In [21]:
letters = 'python'

print(letters[0], letters[2])

p t

#### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210" <br/>
실행 예: 2210

In [23]:
# slicing
license_plate = "24가 2210"
print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [26]:
# indexing
print(license_plate[-1])
print(license_plate[1])

0
4

#### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝" <br/>
<br/>
실행 예: <br/>
홀홀홀

In [27]:
# slicing
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

#### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON" <br/>
실행 예: NOHTYP

In [29]:
string = "PYTHON"

# slicing
print(string[::-1])

NOHTYP

In [33]:
# reversed function (reversed(x))
print(''.join(reversed(string)))

NOHTYP

In [32]:
# reverse function (list.reverse())
ls = list(string) # 문자열 - 리스트 치환
ls.reverse() # reverse 함수 사용해 리스트 거꾸로 뒤집기
string_reverse = ''.join(ls) # join 함수 이용, 새로운 변수에 거꾸로 뒤집은 리스트 값(문자열) 바인딩 
print(string_reverse) # 출력

'NOHTYP'

#### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr" <br/>
 <br/>
실행 예: <br/>
kr

In [45]:
url = "http://sharebook.kr"
print(url[-2:])
print(url[17:]) # len(url) = 19

kr
kr

#### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [20]:
quater = "2020/03(E) (IFRS연결)"
print(quater[:7])

# 3번째 자리까지 출력하고 싶으면 index[4]

2020/03

### String

#### 031 문자열 합치기

In [1]:
a = "3"
b = "4"
print(a + b)

34

#### 032 문자열 곱하기

In [2]:
print("Hi" * 3)

HiHiHi

#### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요. <br/>
 <br/>
실행 예: <br/>
"--------------------------------------------------------------------------------"

In [3]:
print('-' * 80)

--------------------------------------------------------------------------------

#### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python' <br/>
t2 = 'java' <br/>
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요. <br/>
 <br/>
실행 예: <br/>
python java python java python java python java

In [6]:
t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

## %formatting/ format(), f-string

#### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"  <br/>
age1 = 10 <br/>
name2 = "이철희" <br/>
age2 = 13 <br/>
 <br/>
이름: 김민수 나이: 10 <br/>
이름: 이철희 나이: 13

In [8]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("name: %s age: %d"%(name1, age1), "name: %s age: %d"%(name2,age2), sep ='\n')


print("name: %s age: %d"%(name1, age1))
print("name: %s age: %d"%(name2, age2))

name: 김민수 age: 10
name: 이철희 age: 13
name: 김민수 age: 10
name: 이철희 age: 13

#### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [15]:
print("name: {}, age: {}".format(name1, age1), "name: {}, age: {}".format(name2,age2), sep = '\n')

print("name: {}, age: {}".format(name1, age1))
print("name: {}, age: {}".format(name2,age2))

print("name: {0}, age: {1}".format(name1, age1), "name: {0}, age: {1}".format(name2,age2), sep = '\n')

print("name: {1}, age: {0}".format(age1, name1), "name: {1}, age: {0}".format(age2,name2), sep = '\n')

name: 김민수, age: 10
name: 이철희, age: 13
name: 김민수, age: 10
name: 이철희, age: 13
name: 김민수, age: 10
name: 이철희, age: 13
name: 김민수, age: 10
name: 이철희, age: 13

#### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [17]:
print(f"name: {name1}, age: {age1}", f"name: {name2}, age: {age2}", sep = '\n')

print(f"name: {name1}, age: {age1}")
print(f"name: {name2}, age: {age2}")

name: 김민수, age: 10
name: 이철희, age: 13
name: 김민수, age: 10
name: 이철희, age: 13

## Replace Method (var.replace()) : 문자 변경해줄 때 사용

#### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

lang = 'python' <br/>
lang[0] = 'P' <br/>
print(lang)

In [49]:
lang = 'python'

    # lang[0]는 소문자 p 출력.
    # lang[0] = 'P' 변경 불가능.
    """TypeError: 'str' object does not support item assignment."""

lang = lang.replace('p', 'P')
print(lang)
print(lang[0])

Python
P

#### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222" <br/>
실행 예 <br/>
010 1111 2222

In [36]:
phone_number = "010-1111-2222"

use_replace = phone_number.replace('-', ' ')
print(use_replace)

010 1111 2222

#### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요. <br/>
 <br/>
실행 예 <br/>
01011112222

In [40]:
no_space = use_replace.replace(' ', '')
print(no_space)

01011112222

#### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a' <br/>
실행 예: <br/>
Abcdfe2A354A32A

In [50]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [51]:
# 전체 대문자화
# var.upper() Method

string_up = string.upper()
print(string_up)


# 전체 소문자화 
# var.lower() Method

string_low = string_up.lower()
print(string_low)

ABCDFE2A354A32A
abcdfe2a354a32a

#### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

string = 'abcd' <br/>
string.replace('b', 'B') <br/>
print(string)

In [53]:
string = 'abcd'
string.replace('b', 'B')
""" print(string)
    >>> abcd
    string 변수에 replace method 사용한 값을 바인딩 해주지 않았기 때문에
    'abcd' 출력됨
    """
print(string)

string = string.replace('b', 'B')
print(string)

abcd
aBcd

#### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다.  <br/>
컴마를 제거한 후 이를 정수 타입으로 변환해보세요. <br/>
 <br/>
상장주식수 = "5,969,782,550"

In [18]:
stocks = "5,969,782,550"
stocks = stocks.replace(',', '')
print(stocks)

5969782550

## Strip Method (var.strip()): 좌우 공백 제거할 때 사용

- var.rstrip(): 오른쪽 공백 제거
- var.lstrip(): 왼쪽 공백 제거

#### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [23]:
data = " 삼성전자 "
data = data.strip()
data

'삼성전자'

#### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요. <br/>
 <br/>
data = "039490     "

In [24]:
data = "039490 "
data = data.rstrip()
data

'039490'

#### 050 lstrip 메서드
문자열의 왼쪽에 공백이 있을 때 이를 제거해보세요. <br/>
 <br/>
data = "      039490"

In [25]:
data = " 파이썬"
data = data.lstrip()
data

'파이썬'

## 다양한.. Methods

#### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요. <br/>
 <br/>
ticker = "btc_krw"

In [26]:
ticker = "btc_krw"
ticker = ticker.upper()
ticker

'BTC_KRW'

#### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요. <br/>
 <br/>
ticker = "BTC_KRW"

In [27]:
ticker = ticker.lower()
ticker

'btc_krw'

#### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [28]:
string = 'hello'
string = string.capitalize()
string

'Hello'

#### 044 endswith 메서드: end-word searching
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요. <br/>
 <br/>
file_name = "보고서.xlsx"

In [30]:
file_name = "보고서.xlsx"
print(file_name.endswith('.xlsx'))

True

#### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요. <br/>
 <br/>
file_name = "보고서.xlsx"

In [33]:
file_name = "보고서.xlsx"
file_name.endswith('.xlsx' or 'xls')
# or: 하나라도 True면 True 출력

True

In [34]:
file_name = "보고서.xlsx"
file_name.endswith('.xlsx' and 'xls')
# and: 하나라도 False면 False 출력

False

#### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [35]:
file_name = "2020_보고서.xlsx"

file_name.startswith('2020')

True

## Split Methods (var.split())

- 문자열을 나눠서 리스트로 저장!

#### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요. <br/>
 <br/>
a = "hello world"

In [37]:
a = "hello world"

a = a.split(' ')
print(a)

['hello', 'world']

#### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요. <br/>
 <br/>
ticker = "btc_krw"

In [38]:
ticker = "btc_krw"
ticker = ticker.split('_')
print(ticker)

['btc', 'krw']

#### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요. <br/>
 <br/>
date = "2020-05-01"

In [39]:
date = "2020-05-01"
date = date.split('-')
print(date)

['2020', '05', '01']