
## print 기초
### print 함수와 관련된 문제를 풀어봅시다.

#### 001. 화면에 Hello World 문자열을 출력하세요.

In [1]:
print("Hello World")

Hello World

In [1]:
string1 = '''[삼중 작은 따옴표 사용 가능]
여러 행의 문자열 입력 가능
큰 따옴표(") 작은 따옴표(') 사용가능.'''

string2 = """[삼중 큰따옴표를 사용 가능]
여러 행의 문자열 입력 가능
큰 따옴표(") 작은 따옴표(') 사용가능.""" 

print(string1)
print(string2)

[삼중 작은 따옴표 사용 가능]
여러 행의 문자열 입력 가능
큰 따옴표(") 작은 따옴표(') 사용가능.
[삼중 큰따옴표를 사용 가능]
여러 행의 문자열 입력 가능
큰 따옴표(") 작은 따옴표(') 사용가능.

#### 002. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [3]:
print("Mary\'s cosmetics")
print("Mary's cosmetics")
# print('Mary's cosmetics') Error
print('Mary\'s cosmetics')

Mary's cosmetics
Mary's cosmetics
Mary's cosmetics

#### 003. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [3]:
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".

#### 004. 화면에 "C:\Windows"를 출력하세요.

In [4]:
print("C:\Windows")

C:\Windows

#### 005. print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 줄바꿈
# \t 탭 키

안녕하세요.
만나서		반갑습니다.

#### 006. print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [6]:
print("Today is", "Sunday")

Today is Sunday

#### 007. print() 함수를 사용하여 다음과 같이 출력하세요.

In [7]:
# sep method 사용해서 문자열 분리 출력
print('naver', 'kakao', 'sk', 'samsung', sep =';')
print('naver', 'kakao', 'sk', 'samsung', sep ='/')

naver;kakao;sk;samsung
naver/kakao/sk/samsung

#### 009 print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first"); <br/>
print("second")

In [10]:
# 줄바꿈 있는 상태로 출력
print("first")
print("second")

print("fisrt", "second", sep="\n")
print('first'); print('second')

# 줄바꿈 없이 출력
print('first', end = " ")
print('second')

first
second
fisrt
second
first
second
first second

#### 010 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [9]:
print(5/3)

1.6666666666666667

## Variables
### 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다

#### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [10]:
samsung = 50000 # '삼성전자' 변수로 50,000원 바인딩
stucks_number = 10 # 보유 주식 수
market_value = samsung * stucks_number # 총 평가 금액

print(market_value)

500000

#### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
- 항목	값
- 시가총액	298조
- 현재가	50,000원
- PER	15.79

In [11]:
# 각 변수에 바인딩
market_cap = 298
current = 50000
per = 15.79

#### 013 문자열 출력
변수 s와 t를 이용하여 아래와 같이 출력해보세요.<br/>
<br/>
실행 예:<br/>
hello! python

In [12]:
s = "hello"
t = "python"

print(s, t, sep='! ')
print(s + '! ' + t)
print(s + '!' + ' ' + t)

hello! python
hello! python
hello! python

#### 014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.
- 2 + 2 * 3

In [13]:
print(2+2*3)

8

#### 015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩되어 있고 type 함수가 int (정수)형임을 알려줍니다.
아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [14]:
a = 128
print(type(a))

a = "132"
print(type(a))

<class 'int'>
<class 'str'>

#### 016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [15]:
num_str = "720"
str_to_int = int(num_str)
print(str_to_int)
print(type(str_to_int))

720
<class 'int'>

#### 017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

In [16]:
num = 100
num_to_str = str(num)
print(type(num_to_str))

<class 'str'>

#### 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [17]:
str = "15.79"
str_to_float = float(str)
print(type(str_to_float))

<class 'float'>

#### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [18]:
year = "2020"
year_int = int(year)
year_list = [year_int, year_int + 1, year_int + 2]
print(year_list)

[2020, 2021, 2022]

#### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. <br/> 
총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [19]:
month_pay = 48584
installments = 36
price = month_pay * installments
print(price)

1749024

input 기능 사용하기

In [20]:
months = int(input("How many months installment would you like?"))
monthly_payment = int(input("Enter the montly payment: "))
total_price = months * monthly_payment
print("The total price you have to pay is", total_price)
print("You will pay", monthly_payment, "for", months, "months.")

How many months installment would you like?36
Enter the montly payment: 48584
The total price you have to pay is 1749024
You will pay 48584 for 36 months.